@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(12, 7, 6);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
}
.wine-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

#fact {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  width: 90%;
  margin: 0 auto;
}
p {
  color: #fff;
  font-size: .8rem;
  padding: 1em 0;
}

@media(min-width: 1000px) {
  img {
    max-width: 100%;
  }
  .wine-images {
    width: 100%;
  }
  .wine-images:hover {
    cursor: pointer;
  }
  .wine-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  #fact {
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: left;
  }
  p {
    color: #fff;
    font-size: .8rem;
    padding: 1em 0;
  }
}